body {
    color: rgb(6, 89, 49);
    background: rgb(42, 41, 41);
}
.card {
    width: 200px;
    height: 50px;
    margin-left: 40%;
    border-radius: 19px;
    display: grid;
    place-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    justify-content: space-evenly;
}